[submodule "laradock"]
	path = laradock
	url = git@github.com:fosjsc/laradock-october.git
[submodule "agile-plugin"]
	path = plugins/fos/agile
	url = git@github.com:fosjsc/agile.git
[submodule "crm-plugin"]
	path = plugins/fos/crm
	url = git@github.com:fosjsc/crm.git
[submodule "erp-plugin"]
	path = plugins/fos/erp
	url = git@github.com:fosjsc/erp.git
[submodule "foundation-plugin"]
	path = plugins/fos/foundation
	url = git@github.com:fosjsc/foundation.git
[submodule "hrm-plugin"]
	path = plugins/fos/hrm
	url = git@github.com:fosjsc/hrm.git
[submodule "oc-manual-plugin"]
	path = plugins/fos/manual
	url = git@github.com:fosjsc/manual.git
[submodule "notify-plugin"]
	path = plugins/fos/notify
	url = git@github.com:fosjsc/notify.git
[submodule "passport-plugin"]
	path = plugins/fos/passport
	url = git@github.com:fosjsc/passport.git
[submodule "support-plugin"]
	path = plugins/fos/support
	url = git@github.com:fosjsc/support.git
[submodule "workflow-plugin"]
	path = plugins/fos/workflow
	url = git@github.com:fosjsc/workflow.git
[submodule "theme-hdsc"]
	path = themes/hdsc
	url = git@github.com:silver-arrow-software/theme-hdsc.git
