[submodule "laradock"]
	path = laradock
	url = git@github.com:fosjsc/laradock-october.git
[submodule "plugins/fos/agile"]
	path = plugins/fos/agile
	url = git@github.com:fosjsc/agile.git
[submodule "plugins/fos/crm"]
	path = plugins/fos/crm
	url = git@github.com:fosjsc/crm.git
[submodule "plugins/fos/erp"]
	path = plugins/fos/erp
	url = git@github.com:fosjsc/erp.git
[submodule "plugins/fos/foundation"]
	path = plugins/fos/foundation
	url = git@github.com:fosjsc/foundation.git
[submodule "plugins/fos/hrm"]
	path = plugins/fos/hrm
	url = git@github.com:fosjsc/hrm.git
[submodule "plugins/fos/manual"]
	path = plugins/fos/manual
	url = git@github.com:fosjsc/manual.git
[submodule "plugins/fos/notify"]
	path = plugins/fos/notify
	url = git@github.com:fosjsc/notify.git
[submodule "plugins/fos/passport"]
	path = plugins/fos/passport
	url = git@github.com:fosjsc/passport.git
[submodule "plugins/fos/support"]
	path = plugins/fos/support
	url = git@github.com:fosjsc/support.git
[submodule "plugins/fos/workflow"]
	path = plugins/fos/workflow
	url = git@github.com:fosjsc/workflow.git
[submodule "themes/hdsc"]
	path = themes/hdsc
	url = git@github.com:silver-arrow-software/theme-hdsc.git
